@model Student
  
<div class = "row">
<div class="bg-dark">
    <table class="table table-sm table-dark">
        <thead>
            <tr>           
                <th>Ticket Issue</th>
                <th>Created</th>  
                <th>Active</th>       
                <th>Actions</th>  
            </tr>
        </thead>
        <tbody>
            @foreach(var t in Model.Tickets) {
                <tr>              
                    <td>@t.Issue</td>
                    <td>@t.CreatedOn</td>  
                    <td>@t.Active</td>
                     
                    <td>
                       <!-- TBC - add an anchor tag styled as a small danger button that navigates  -->
                       <!-- to the TicketDelete action. Remember to pass the asp-route-id parameter -->
                       <a asp-controller="Student" asp-action="TicketDelete" asp-route-id="@Model.Id" class="btn btn-sm btn-danger">Delete Ticket</a>
                    </td>             
                </tr>   
            }
        </tbody>
    </table>
</div>
</div>
